*.bin
*.lock
/mobile/.idea/caches
mobile/local.properties
mobile/.idea/misc.xml
mobile/.idea/misc.xml
mobile/app/build.gradle
/mobile/.idea
mobile/app/build.gradle
mobile/.idea/misc.xml
mobile/app/build.gradle
mobile/.idea/misc.xml
server/vroom/src/main/resources/application-local.properties
server/vroom/src/main/resources/application-secrets.properties
web/vroom/package-lock.json
server/vroom/data/db.mv.db
server/vroom/data/db.mv.db
server/vroom/data/vroomdb.mv.db
server/vroom/data/vroomdb.trace.db
server/vroom/data/db.mv.db
server/vroom/data/db.mv.db
server/vroom/data/registered_users_db.mv.db
server/vroom/data/vroomdb.mv.db
server/vroom/data/vroomdb.lock.db
server/vroom/data/vroomdb.mv.db
server/vroom/data/vroomdb.mv.db
server/vroom/data/vroomdb.mv.db
server/vroom/data/vroomdb.mv.db
