*.bin
*.lock
/mobile/.idea/caches
mobile/local.properties
mobile/.idea/misc.xml
mobile/.idea/misc.xml
mobile/app/build.gradle
/mobile/.idea
mobile/app/build.gradle
mobile/.idea/misc.xml
mobile/app/build.gradle
mobile/.idea/misc.xml
server/vroom/src/main/resources/application-local.properties
