*.bin
*.lock
/mobile/.idea/caches
mobile/local.properties
mobile/.idea/misc.xml
mobile/.idea/misc.xml
mobile/app/build.gradle
/mobile/.idea
mobile/app/build.gradle
mobile/.idea/misc.xml
mobile/app/build.gradle
mobile/.idea/misc.xml
server/vroom/src/main/resources/application-local.properties
server/vroom/src/main/resources/application-secrets.properties
web/vroom/package-lock.json
server/vroom/data/vroomdb.mv.db
server/vroom/data/*.mv.db
*.mv.db
*.lock.db
*.trace.db
server/vroom/pom.xml
server/vroom/src/main/resources/application.properties
server/vroom/src/main/resources/vroom-2c656-firebase-adminsdk-fbsvc-02a0d2b49e.json
mobile/app/google-services.json
