<div class="login-container">

    <h1>Login</h1>

    <div *ngIf="status === 'activated'" class="status-message success">
        Account activated
    </div>
    <div *ngIf="status === 'failed'" class="status-message error">
        There has been an error with account activation
    </div>
    <div *ngIf="status === 'expired'" class="status-message expired">
        Account activation has expired. Please create new account and try again
    </div>

    <div class="login-page">
        <section class="login-section">

            <form class="login-form" onsubmit="event.preventDefault();">
                <label>Email</label>
                <div class="input-wrapper email-wrapper">
                    <input name="email" type="email" placeholder="Enter your email" [(ngModel)]="email"/>
                </div>
                <label>Password</label>
                <div class="input-wrapper password-wrapper">
                    <input name="password" type="password" placeholder="Enter your password" [(ngModel)]="password"/>
                </div>
            </form>
        </section>


        <section class="forgot-password-section">
            <div *ngIf="isLoadingForgotPassword" class="loader-container">
                <div class="spinner"></div>
            </div>
            <button (click)="onForgotPassword()" *ngIf="!isLoadingForgotPassword">Forgot password</button>
        </section>

        <div *ngIf="isLoadingLogin" class="loader-container">
            <div class="spinner"></div>
        </div>
        
        <button class="login-button" (click)="onLogin()" *ngIf="!isLoadingLogin">Login</button>
    </div>
</div>