<section class="ride-history">
    <div class="ride-history-outer-container">
        <div class="container">
            <h1 id="title">Ride History</h1>

            <div class="filter-controls">

                <div class="filter-item">
                    <label for="startDate">Start Date</label>
                    <input 
                        type="date" 
                        id="startDate"
                        [(ngModel)]="startDateFilter" 
                        (change)="onFilterChange()"
                        class="date-input"
                    />
                </div>

                <div class="filter-item">
                    <label for="endDate">End Date</label>
                    <input 
                        type="date" 
                        id="endDate"
                        [(ngModel)]="endDateFilter" 
                        (change)="onFilterChange()"
                        class="date-input"
                    />
                </div>

                <div class="filter-item">
                    <label for="sortBy">Sort By</label>
                    <select 
                        id="sortBy" 
                        [(ngModel)]="currentSort" 
                        (change)="onSortChange($event)"
                        class="sort-select"
                    >
                        <option value="startTime,desc">Date: Newest First</option>
                        <option value="startTime,asc">Date: Oldest First</option>
                        <option value="price,desc">Price: High to Low</option>
                        <option value="price,asc">Price: Low to High</option>
                    </select>
                </div>

                <div class="filter-item" *ngIf="authService.getCurrentUserType === 'ADMIN'">
                    <label for="userEmail">User's Email</label>
                    <input 
                        type="email" 
                        id="userEmail"
                        name="userEmail"
                        [value]="userEmailFilter || ''" 
                        (input)="onEmailFilterChange($event.target.value)"
                        placeholder="user@example.com"
                        class="date-input"
                    />
                </div>

                <button 
                    *ngIf="startDateFilter || endDateFilter || userEmailFilter" 
                    (click)="clearFilters()"
                    class="clear-filters-btn">
                        Clear Filters
                </button>
            </div>

                <div *ngIf="isLoading" class="loader-container">
                    <div class="spinner"></div>
                </div>

                <div *ngIf="!isLoading && rides.length > 0; else noData" id="rideCardsContainer">
                    <div *ngFor="let ride of rides" class="ride-card" (click)="openPopup(ride.rideId)">
                        <div class="route">
                            <span class="location">{{ ride.route.startAddress }}</span>
                            <span class="arrow">→</span>
                            <span class="location">{{ ride.route.endAddress }}</span>
                        </div>
                        <div class="details">
                            <div class="detail-item">
                                <span class="detail-label">Date & Time</span>
                                <span class="detail-value">{{ ride.startTime | date:'dd.MM.yyyy.' }} • {{ ride.startTime | date: 'HH:mm' }}</span>
                            </div>
                            <div class="detail-item">
                                <span class="detail-label">Price</span>
                                <span class="detail-value">{{ ride.price | number:'1.0-2' }} EUR</span>
                            </div>
                            <div class="detail-item">
                                <span class="detail-label">Status</span>
                                <span class="status-badge" [ngClass]="getStatusClass(ride.status)">{{ getStatusLabel(ride.status) }}</span>
                            </div>
                            <div class="detail-item">
                                <span class="detail-label">Safety</span>
                                <span class="status-badge" [ngClass]="ride.panicActivated ? 'panic' : 'safe'">
                                    {{ ride.panicActivated ? 'Panic' : 'Safe' }}
                                </span>
                            </div>
                            <button type="button" class="map-redirect-btn" (click)="$event.stopPropagation();  showOnMapRoute(ride.rideId)">
                                Check on the map
                            </button>
                        </div>
                    </div>
                </div>

                
            <ng-template #noData>
                <div *ngIf="!isLoading" class="no-rides-container">
                    <p>No rides found</p>
                </div>
            </ng-template>

            <div class="pagination-container" *ngIf="!isLoading && (rides.length > 0 || pageNum > 0)">
                <button 
                    class="page-btn" 
                    id="back-btn"
                    (click)="backPage()" 
                    [disabled]="!backPageAvailable">
                    Previous
                </button>
                
                <span class="page-indicator">Page {{ pageNum + 1 }}</span>
                
                <button 
                    class="page-btn" 
                    id="next-btn"
                    (click)="nextPage()" 
                    [disabled]="!nextPageAvailable">
                    Next 
                </button>
            </div>
                

            </div>

            <!-- Popup -->
            <div class="popup-overlay" *ngIf="showPopup && selectedRide" (click)="closePopup()">
                <div class="popup-container" (click)="$event.stopPropagation()">
                    <button class="close-btn" (click)="closePopup()">×</button>
                    
                    <h2>Ride Details</h2>
                    
                    <div class="info-section">
                        <div class="info-item">
                            <span class="info-label">Ride ID</span>
                            <span class="info-value">#{{ selectedRide.rideId }}</span>
                        </div>
                        
                        <div class="info-item">
                            <span class="info-label">Status</span>
                            <span class="status-badge" [ngClass]="getStatusClass(selectedRide.status)">
                                {{ getStatusLabel(selectedRide.status) }}
                            </span>
                        </div>
                    </div>

                    <div class="info-section" *ngIf="selectedRide.passengers.length > 0">
                        <h3>Passengers</h3>
                        <div class="passengers-list">
                            <div class="passenger-item" *ngFor="let passenger of selectedRide.passengers">
                                {{ passenger }}
                            </div>
                        </div>
                    </div>

                    <div class="info-section" *ngIf="selectedRide.cancelReason">
                        <h3>Cancellation Reason</h3>
                        <p class="cancel-reason">{{ selectedRide.cancelReason }}</p>
                    </div>

                    <div class="info-section" *ngIf="selectedRide.complaints.length > 0">
                        <h3>Complaints</h3>
                        <div class="complaints-list">
                            <div class="complaint-item" *ngFor="let complaint of selectedRide.complaints">
                                {{ complaint }}
                            </div>
                        </div>
                    </div>

                    <div 
                        class="rating-section" 
                        *ngIf="!(selectedRide.driverRating || selectedRide.vehicleRating) 
                            && canLeaveReview(selectedRide.endTime) 
                            && (authService.isLoggedIn$ | async) 
                            && authService.getCurrentUserType === 'REGISTERED_USER'"
                    >
                        <button class="leave-review-btn" (click)="openLeaveReview()" id=leaveReviewButton>Leave a review</button>
                        <app-review-popup 
                            *ngIf="isReviewFormShowed" 
                            [rideID]="selectedRide.rideId.toString()"
                            (closePopup)="closeLeaveReview()">
                        </app-review-popup>
                    </div>

                    <div class="info-section" *ngIf="selectedRide.driverRating || selectedRide.vehicleRating" id="reviewInfo">
                        <h3>Ratings</h3>
                        <div class="ratings-grid">
                            <div class="rating-item" *ngIf="selectedRide.driverRating">
                                <span class="rating-label">Driver Rating</span>
                                <div class="rating-stars">
                                    <span class="stars">{{ getStars(selectedRide.driverRating) }}</span>
                                    <span class="rating-number" id="driverRating">{{ selectedRide.driverRating }}/5</span>
                                </div>
                            </div>
                            <div class="rating-item" *ngIf="selectedRide.vehicleRating">
                                <span class="rating-label">Vehicle Rating</span>
                                <div class="rating-stars">
                                    <span class="stars">{{ getStars(selectedRide.vehicleRating) }}</span>
                                    <span class="rating-number" id="vehicleRating">{{ selectedRide.vehicleRating }}/5</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="info-section" *ngIf="selectedRide.comment">
                        <h3>Comment</h3>
                        <p class="comment-text" id="comment">{{ selectedRide.comment }}</p>
                    </div>
                </div>
            </div>
    </div>
    
</section>