<section class="cancel-ride">
    <div class="cancel-before-user" *ngIf="role === 'REGISTERED_USER' && !duringRide && showPopup">
        <div class="cancel-before-user-container">
            <h2>Are you sure you want to cancel ride?</h2>
            <button class="confirm-cancellation" (click)="submitCancellation()">{{ isLoading ? 'Cancelling...' : 'Confirm' }}</button>
            <button (click)="closePopup()" class="cancel-btn">Cancel</button>
        </div>
    </div>

    <div class="cancel-before-driver" *ngIf="role === 'DRIVER' && !duringRide && showPopup">
        <div class="cancel-before-driver-container">
            <h2>Are you sure you want to cancel ride?</h2>
            <form class="reason">
                <input type="text" placeholder="Reason" name="reason" [(ngModel)]="reason" required/>
                <button type="submit" (click)="submitCancellation()">{{ isLoading ? 'Cancelling...' : 'Confirm' }}</button>
            </form>
            <button (click)="closePopup()" class="cancel-btn">Cancel</button>
        </div>
    </div>

    <div class="cancel-during-driver" *ngIf="role === 'DRIVER' && duringRide && showPopup">
        <div class="cancel-during-driver-container">
            <h2>Are you sure you want to stop ride?</h2>
            <button class="confirm-cancellation" (click)="submitStop()">{{ isLoading ? 'Stopping...' : 'Confirm' }}</button>
            <button (click)="closePopup()" class="cancel-btn">Cancel</button>
        </div>
    </div>


    <div class="success-popup" *ngIf="showSuccessPopup && stoppedRideData">
        <div class="success-popup-container">
            <h2>Ride Finished Successfully</h2>
            <div class="ride-details">
                <p><strong>Status:</strong> {{ stoppedRideData.status }}</p>
                <p><strong>Price:</strong> {{ stoppedRideData.price | currency:'RSD' }}</p>
                <p><strong>Start:</strong> {{ stoppedRideData.startTime }}</p>
                <p><strong>End:</strong> {{ stoppedRideData.endTime }}</p>
            </div>
            <button (click)="closeSuccessPopup()" class="confirm-btn">OK</button>
        </div>
    </div>

    <button (click)="openPopup()" *ngIf="shouldShowButton()" class="main-cancel-btn">
        {{ buttonLabel }}
    </button>
</section>
