 <div class="container">
        <h1>Create account</h1>
        
        <div class="form-box">
            <form (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group">
                        <label for="firstName">First name</label>
                        <div class="input-wrapper user-wrapper">
                            <input type="text" id="firstName" name="firstName" [(ngModel)]="firstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last name</label>
                        <div class="input-wrapper user-wrapper">
                            <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="country">Country</label>
                        <div class="input-wrapper">
                            <input type="text" id="country" name="country" [(ngModel)]="country">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <div class="input-wrapper">
                            <input type="text" id="city" name="city" [(ngModel)]="city">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="street">Street</label>
                        <div class="input-wrapper">
                            <input type="text" id="street" name="street" [(ngModel)]="street">
                        </div>
                    </div>
                </div>

                <div class="gender-group">
                    <div class="gender-option">
                        <input type="radio" id="male" name="gender" value="MALE"  [(ngModel)]="gender" [value]="'MALE'">
                        <label for="male">Male</label>
                    </div>
                    <div class="gender-option">
                        <input type="radio" id="female" name="gender" value="FEMALE" [(ngModel)]="gender" [value]="'FEMALE'">
                        <label for="female">Female</label>
                    </div>
                    <div class="gender-option">
                        <input type="radio" id="other" name="gender" value="OTHER" [(ngModel)]="gender" [value]="'OTHER'">
                        <label for="other">Other</label>
                    </div>
                </div>

                <div class="profile-upload">
                    <label>Profile picture</label>
                    <label for="profilePic" class="upload-btn">Select image</label>
                    <input type="file" id="profilePic" name="profilePic" accept=".jpg,.jpeg,.png" (change)="onFileChange($event)">
                    <label *ngIf="profilePic">{{profilePic.name}}</label>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <div class="input-wrapper email-wrapper">
                            <input type="email" id="email" name="email" [(ngModel)]="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone number</label>
                        <div class="input-wrapper phone-wrapper">
                            <input type="tel" id="phone" name="phone" [(ngModel)]="phoneNumber">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <div class="input-wrapper password-wrapper">
                            <input type="password" id="password" name="password" [(ngModel)]="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="reenterPassword">Confirm Password</label>
                        <div class="input-wrapper password-wrapper">
                            <input type="password" id="reenterPassword" name="confirmPassword" [(ngModel)]="confirmPassword">
                        </div>
                    </div>
                </div>

                <h2 class="error-message">{{error}}</h2>
                <h2 class="sucess-message">{{success}}</h2>

                <div *ngIf="isLoading" class="loader-container">
                    <div class="spinner"></div>
                </div>
                <button type="button" class="register-btn" [disabled]="isLoading" (click)="onSubmit()" *ngIf="!isLoading">Register</button>
            </form>
        </div>

        
    </div>
