.sarina-regular {
  font-family: "Sarina", cursive;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans {
  color: #2A2C24;
  font-family: "IBM Plex Sans";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
