header{
    position: relative;
    
}

.navbar {
    background-color: #dceed3;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 6px 6px rgba(42, 44, 36, 0.25);
}

.logo {
    font-family: 'Sarina';
    font-size: 38px;
    font-weight: bold;
    color: #2A2C24;
    font-style: italic;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.login-text {
    font-family: 'IBM Plex Sans';
    text-decoration: none;
    font-size: 20px;
    color: #2A2C24;
    margin-right: 0.005%;
}

.register-text {
    font-family: 'IBM Plex Sans';
    text-decoration: none;
    font-size: 20px;
    color: #2A2C24;
    margin-right: 0.0005%;
}

.icon-button {
    width: 50px;
    height: 50px;
    border-width: 0px;
    border-radius: 50%;
    background-color: #F4FDF0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
}

.icon-button svg {
    width: 50px;
    height: 50px;
}
