<section class="panic">

    <div class="panic-confirmation" *ngIf="showPanicPopup">
        <div class="panic-confirmation-container">
            <h2>Confirm you are in danger</h2>
            <p *ngIf="notifiedResponse" class="success-msg">{{notifiedResponse}}</p>
            <p *ngIf="error" class="error-msg">{{error}}</p>
            <button class="confirm-panic" (click)="notifyPanic()" [disabled]="isLoading">{{ isLoading ? 'Processing...' : 'Confirm' }}</button>
            <button class="cancel-btn" (click)="closePanicPopup()">Cancel</button>
        </div>
    </div>

    <button class="panic-btn" (click)="openPanicPopup()">PANIC</button>
</section>
