.order-ride {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


#map {
  width: 100%;
  height: 55vh;   /* 55% ekrana */
  min-height: 320px;
}


.ride-panel {
  flex: 1;
  background: #e6f4ec;
  padding: 24px;
  border-radius: 24px 24px 0 0;
  display: flex;          
  flex-direction: column; 
  gap: 18px;             
}

h1 {
  text-align: center;
  font-size: 26px;
  margin: 0;
}

.row {
  display: flex;
  gap: 20px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

label {
  font-size: 14px;
  font-weight: 500;
}

input,
select {
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #cfeade;
  font-size: 15px;
}


.toggles {
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  align-items: center;
}

.estimates {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  background: #cfeade;
  border-radius: 14px;
  font-weight: 500;
  margin-top: 20px; 
}


.order-btn {
  margin-top: auto;  
  padding: 16px;
  background: #b7d8c2;
  border: none;
  border-radius: 18px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}
